.about__container {
  padding-top: 120px;
  padding-bottom: 5px;
  padding-left: 163px;
  display: grid;
  grid-template-columns: 375px auto;
  margin: 0 auto;
  align-items: start;
  column-gap: 65px;

  @include vp-1199 {
    grid-template-columns: 1fr;
    margin: 0 auto;
    padding-left: 45px;
    padding-top: 100px;
    padding-bottom: 15px;
  }

  @include vp-767 {
    padding: 62px 0 68px;
  }
}

.about__video {
  display: grid;
  width: 364px;
  height: 228px;
  position: relative;
  bottom: 112px;
  right: 64px;

  @media screen and (min-width: 1400px) {
    right: 34px;
  }

  @include vp-1199 {
    width: 266px;
    height: 167px;
    right: 0;
    bottom: 82px;
    margin: 0 auto;
  }

  @include vp-767 {
    bottom: 0;
    min-width: 280px;
    max-width: 400px;
    width: 100%;
    height: 167px;
  }
}

.about__video-preview,
.about__video iframe {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
}

.about__video-preview {
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(20, 54, 122, 0.5);
  }

  @media screen and (min-width: 1200px) {
    background: url("../img/images/video-preview-desktop.jpg") no-repeat;
    background-size: cover;

    @include retina {
      background: url("../img/images/video-preview-desktop@2x.jpg") no-repeat;
      background-size: cover;
    }
  }

  @include vp-1199 {
    background: url("../img/images/video-preview-tablet.jpg") no-repeat;
    background-size: cover;

    @include retina {
      background: url("../img/images/video-preview-tablet@2x.jpg") no-repeat;
      background-size: cover;
    }
  }

  @include vp-767 {
    background: url("../img/images/video-preview-mobile.jpg") no-repeat;
    background-size: cover;

    @include retina {
      background: url("../img/images/video-preview-mobile@2x.jpg") no-repeat;
      background-size: cover;
    }
  }
}

.about__video-btn {
  position: relative;
  display: block;
  padding: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  z-index: 1;
  cursor: pointer;
  background-color: $color-transparent;

  &::before {
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    background-image: url("../img/svg/video-play.svg");
    background-repeat: no-repeat;
    position: relative;
    z-index: 100;
  }

  @include hover {
    &::before {
      opacity: 0.7;
    }
  }

  @include hover-focus {
    &::before {
      opacity: 0.7;
    }
  }

  @include vp-1199 {
    &::before {
      background-image: url("../img/svg/video-play-tablet.svg");
      width: 73px;
      height: 73px;
    }
  }
}

.about__video iframe {
  border: none;
  display: none;

  @include vp-1199 {
    width: 266px;
    height: 167px;
  }

  @include vp-767 {
    width: 100%;
  }
}

.no-pseudo {
  &::after,
  &::before {
    content: none;
    display: none;
  }
}

.about__video img {
  max-height: 100%;
}

.about__container img {
  width: 100%;

  @include vp-767 {
    margin-bottom: 40px;
  }
}

.about__text {
  padding-top: 18px;

  @include vp-1199 {
    padding-top: 0;
    justify-self: center;
    text-align: center;
  }

  @include vp-767 {
    padding-left: 15px;
    padding-right: 15px;
    justify-self: start;
    text-align: start;
  }
}

.about__text h2 {
  font-family: $ff-title;
  font-size: 48px;
  font-weight: 600;
  letter-spacing: 1.5px;
  margin-top: 0;
  margin-bottom: 12px;
  padding-top: 22px;

  @include vp-1199 {
    padding-top: 0;
    font-size: 42px;
    margin-bottom: 5px;
  }

  @include vp-767 {
    font-size: 32px;
    letter-spacing: 1.1px;
    margin-bottom: 10px;
  }
}

.about__subtitle {
  margin-bottom: 45px;

  @include vp-1199 {
    margin-bottom: 40px;
  }

  @include vp-767 {
    margin-bottom: 30px;
  }
}

.about__text p {
  margin-top: 0;
  line-height: 1.5;
  letter-spacing: 0.1px;
  font-weight: 300;
  margin-bottom: 5px;

  @include vp-1199 {
    max-width: 530px;
    font-weight: 300;
    letter-spacing: 0;
    margin-bottom: 40px;
  }

  @include vp-767 {
    margin-bottom: 29px;
  }
}

.about__subtitle p {
  font-size: 18px;
  line-height: 1;
  margin-bottom: 0;
}

.about__text-tablet-hidden p {
  margin: 0;
}

.about__text-tablet-hidden {
  @include vp-1199 {
    display: none;
  }
}
