.custom-input {
  position: relative;
  margin-bottom: 28px;

  input {
    flex-grow: 1;
    height: 20px;
    width: 100%;
    padding: 15px 39px 15px 0;

    border: none;
    border-bottom: 1px solid $color-input-border;
    background-color: $color-transparent;
    color: $color-default-white;
    outline: none;

    transition: border 0.3s ease;

    &::placeholder {
      font-size: 14px;
    }

    @media screen and (max-width: 767px) {
      max-width: unset;
      width: 100%;
    }

    &:hover {
      border-bottom: 1px solid $color-input-border;
    }

    &:focus {
      border-bottom: 1px solid $color-input-border;
    }
  }

  &__error {
    position: absolute;
    right: 0;
    bottom: 35px;

    color: #ff1553;

    opacity: 0;

    transition: opacity 0.3s ease;

    @media screen and (max-width: 767px) {
      bottom: 20px;
    }
  }

  @include vp-1199 {
    margin-bottom: 28px;
  }

  @include vp-767 {
    &:last-of-type {
      margin-bottom: 40px;
    }
  }
}

.is-invalid {
  input,
  textarea {
    border-bottom: 1px solid #ff1553;

    &:focus,
    &:hover {
      border-bottom: 1px solid $color-input-border;
    }
  }
}

.is-valid {
  input {
    border-bottom: 1px solid #22b259;

    &:focus,
    &:hover {
      border-bottom: 1px solid $color-input-border;
    }
  }
}

.input-message {
  position: absolute;
  left: 0;
  bottom: -20px;

  &.is-invalid {
    color: #ff0000;
  }

  &.is-valid {
    color: #15ab07;
  }
}
