.main-banner {
  align-self: start;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include vp-1199 {
    grid-template-columns: 1fr minmax(400px, 1fr);
    width: 100%;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    justify-self: stretch;
  }
}

.main-banner picture {
  width: 100%;
  height: 100%;
}

.main-banner img {
  width: 100%;
  height: auto;
}

.main-banner__content {
  display: flex;
  flex-direction: column;
  padding: 45px;
  background-color: $color-default-red;
  color: $color-default-white;

  @include vp-767 {
    text-align: center;
    align-items: center;
    padding-top: 40px;
  }
}

.main-banner__content p {
  flex-grow: 1;
  font-size: 18px;
  margin-top: 5px;
  line-height: 1.4;

  @include vp-767 {
    margin-top: 0;
    margin-bottom: 29px;
  }
}

.main-banner__price p {
  font-size: 28px;
  margin: 0;
  font-weight: 700;
  line-height: 1;
  display: flex;
  flex-direction: column-reverse;

  @include vp-767 {
    margin-bottom: 5px;
  }
}

.main-banner__price span {
  font-size: 70px;
  font-weight: 700;
  line-height: 1.2;
}

.main-banner__btn {
  color: $color-default-white;
  letter-spacing: 1px;
  border: none;
  border-bottom: 1px solid $color-default-white;
  font-size: 14px;
  width: min-content;
  text-transform: uppercase;
  font-weight: 700;
}
