.review__container {
  padding-top: 12px;
  padding-bottom: 120px;
  position: relative;

  max-width: 765px;

  @include vp-1199 {
    max-width: 656px;
    padding-top: 0;
    padding-bottom: 95px;
  }

  @include vp-767 {
    max-width: 88%;
    padding-bottom: 70px;
    padding-left: 12px;
    padding-right: 12px;
  }
}

.review__container .swiper {
  max-width: 765px;

  @include vp-1199 {
    max-width: 656px;
  }

  @include vp-767 {
    max-width: 88%;
  }
}

.review__container h2 {
  font-family: $ff-title;
  font-size: 54px;
  line-height: 1;
  font-weight: 600;
  text-align: center;
  margin-top: 0;
  margin-bottom: 45px;
  letter-spacing: 1.6px;

  @include vp-1199 {
    font-size: 42px;
  }

  @include vp-767 {
    font-size: 32px;
  }
}

.review__swiper picture {
  display: block;
  grid-row: 1 / 3;

  @include vp-767 {
    grid-row: 1;
    justify-self: end;
  }

  @media screen and (min-width: 500px) {
    grid-row: 1 / 3;
    align-self: start;
  }
}

.review__swiper img {
  width: 80px;
  height: 80px;
  margin-top: 5px;

  @include vp-1199 {
    margin-top: 0;
    margin-left: 3px;
  }

  @include vp-767 {
    width: 68px;
    height: 68px;
    margin-left: 0;
    position: relative;
    left: 5px;
    bottom: 6px;
  }
}

.review__swiper .swiper-slide {
  display: grid;
  grid-template-columns: 80px 1fr;
  padding: 56px 62px 58px;
  background-color: $color-blue;
  color: $color-default-white;
  column-gap: 28px;
  box-sizing: border-box;
  align-items: start;

  @include vp-1199 {
    padding-top: 60px;
    column-gap: 32px;
  }

  @include vp-767 {
    padding: 40px 25px 35px;
    column-gap: 20px;
    row-gap: 0;
    align-items: center;
  }

  @media screen and (min-width: 356px) and (max-width: 499px) {
    row-gap: 10px;
  }
}

.review__swiper p {
  margin: 0;
  line-height: 1.4;
  grid-column: 2;

  @include vp-767 {
    grid-row: 2;
    grid-column: 1 / -1;
    text-align: center;
  }

  @media screen and (min-width: 500px) {
    grid-column: 2;
    text-align: start;
  }
}

.review__name {
  margin-bottom: 17px;
  grid-row: 1;
  grid-column: 2;

  @include vp-767 {
    grid-row: 1;
    margin-bottom: 14px;
  }
}

.review__name p {
  font-size: 20px;
  font-weight: 700;
  line-height: 1;

  @include vp-767 {
    line-height: 1.7;
    text-align: start;
  }
}

.review__button-prev,
.review__button-next {
  top: 213px;

  @include vp-767 {
    top: 235px;
  }

  @media screen and (min-width: 392px) and (max-width: 1199px) {
    top: 191px;
  }
}

.review__button-prev {
  left: 40px;

  @include vp-1199 {
    left: -18px;
  }

  @include vp-767 {
    left: -10px;
  }
}

.review__button-next {
  right: 40px;

  @include vp-1199 {
    right: -18px;
  }

  @include vp-767 {
    right: -10px;
  }
}
