.subscription {
  background-color: $color-light-grey;
  position: relative;

  &::after {
    content: "";
    background: url("../img/images/subscription-desktop.png") no-repeat;
    width: 287px;
    height: 430px;
    position: absolute;
    right: 0;
    bottom: -85px;
    z-index: 1;

    @include retina {
      background: url("../img/images/subscription-desktop@2x.png") no-repeat;
      background-size: cover;
    }
  }

  @include vp-1199 {
    &::after {
      width: 350px;
      height: 410px;
      bottom: -87px;
      background: url("../img/images/subscription-tablet.png") no-repeat;

      @include retina {
        background: url("../img/images/subscription-tablet@2x.png") no-repeat;
        background-size: cover;
      }
    }
  }

  @include vp-767 {
    &::after {
      display: none;
    }
  }
}

.subscription__container {
  position: relative;
  padding-top: 140px;
  padding-bottom: 80px;

  @include vp-1199 {
    padding-top: 115px;
    padding-bottom: 60px;
  }

  @include vp-767 {
    padding-top: 70px;
    padding-bottom: 30px;
  }
}

.subscription h2 {
  font-family: $ff-title;
  margin-top: 0;
  margin-bottom: 26px;
  font-size: 54px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1.6px;

  @include vp-1199 {
    font-size: 42px;
    letter-spacing: 1.3px;
    margin-bottom: 20px;
  }

  @include vp-767 {
    font-size: 32px;
    margin-bottom: 18px;
  }
}
