.trainers__container {
  padding: 10px 102px 138px;
  position: relative;
  max-width: 1500px;

  @include vp-1199 {
    padding: 8px 100px 97px 100px;
    max-width: 780px;
  }

  @include vp-767 {
    max-width: 88%;
    padding: 63px 13px 70px;
  }
}

.trainers__container .swiper {
  max-width: 1500px;

  @include vp-1199 {
    max-width: 780px;
  }

  @include vp-767 {
    max-width: 88%;
  }
}

.trainers__swiper picture {
  @include vp-767 {
    min-height: 274px;
    min-width: 226px;
    width: 100%;
    height: 100%;
  }
}

.trainers__swiper img {
  width: 260px;
  height: 294px;

  @include vp-1199 {
    width: 268px;
  }

  @include vp-767 {
    min-height: 274px;
    width: 100%;
    height: auto;
  }
}

.trainers__container h2 {
  max-width: 1170px;
  margin: 0 auto 50px;
  font-family: $ff-title;
  font-size: 54px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 1.5px;

  @include vp-1199 {
    font-size: 42px;
    text-align: center;
    margin-bottom: 35px;
  }

  @include vp-767 {
    font-size: 32px;
    margin-bottom: 45px;
  }
}

.trainers__back {
  width: 260px;
  height: 294px;
  overflow: auto;
  bottom: -110%;
  position: absolute;
  z-index: 10;
  background-color: $color-slider-inf;
  color: $color-default-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px 40px;
  transition: 0.4s;
  box-sizing: border-box;

  @include vp-1199 {
    width: 268px;
    padding-left: 15px;
  }

  @include vp-767 {
    min-width: 226px;
    min-height: 274px;
    width: 100%;
    height: 100%;
    padding: 45px 15px 40px;
    justify-content: center;
  }
}

.trainers__back h3 {
  font-size: 18px;
  margin: 0;
}

.trainers__back span {
  color: $color-slider-speciality;
  margin-bottom: 38px;
}

.trainers__peculiarity {
  margin: 0;
  font-size: 14px;
  padding-left: 50px;

  @include vp-1199 {
    padding-left: 58px;
  }

  @include vp-767 {
    padding-left: 35px;
  }
}

.trainers__peculiarity li {
  line-height: 1.6;

  &:not(:last-of-type) {
    margin-bottom: 12px;
  }
}

.trainers__button-next,
.trainers__button-prev {
  top: 245px;

  @include vp-1199 {
    top: 214px;
  }

  @include vp-767 {
    top: 54.5%;
  }
}

.trainers__button-prev {
  left: 40px;

  @include vp-767 {
    left: -10px;
  }
}

.trainers__button-next {
  right: 40px;
  transform: rotate(180deg);

  @include vp-767 {
    right: -10px;
  }
}
