// Colors
// ---------------------------------

// Default
$color-default-white:               #ffffff;
$color-light-grey:                  #f8f9fc;
$color-transparent:                 rgba(255, 255, 255, 0);
$color-default-red:                 #ed0233;
$color-dark-blue:                   #102654;
$color-light-blue:                  #2e35ac;
$color-blue:                        #1c3374;

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482
$color-promo-image:                 #010245;
$color-tabs-controls:               rgba(16, 38, 84, 0.50);
$color-tabs-controls-border:        rgba(120, 120, 120, 0.20);
$color-active-tab:                  #d10a42;
$color-tabs-time:                   #495a7d;
$color-tabs-price:                  #103aae;
$color-price-bg:                    rgba(232,232,232, 0.48);
$color-advantages-border:           rgba(209, 10, 66, 0.20);
$color-input-border:                #74819c;
$color-footer-bg:                   #030a1a;
$color-slider-arrow:                #afafaf;
$color-slider-inf:                  rgba(16, 38, 84, 0.89);
$color-slider-speciality:           #b6bdcc;

// Gradient

$gradient-tabs-button:              linear-gradient(97deg, #ED0233 17.6%, #003EB7 95.31%);
$gradient-tabs-border:              linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 14px) calc(100% - 14px) no-repeat, linear-gradient(97deg, #ed0233 17.6%, #003eb7 95.31%);
$gradient-header:                   conic-gradient(from 151deg at 16.03% 39.06%, #003d85 32.23633825778961deg, #b80027 313.3060026168823deg);
$gradient-advantages-number:        linear-gradient(143deg, #d10a42 0%, #0041ca 87.33%);

// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default: 16px;

// у некоторых шрифтов в ios возникают проблемы с символом рубля
// https://www.artlebedev.ru/kovodstvo/sections/159/#13
$ff-rouble: "Rouble", "Arial", sans-serif;
$ff-default: "Roboto Condensed", "Arial", sans-serif;
$ff-title: "Alumni Sans", "Arial", sans-serif;

// Animation
// ---------------------------------

$tf-default: ease;
$trans-default: 0.3s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal: 0.6s cubic-bezier(0.55, 0, 0.1, 1);

$trans-600: 0.6s $tf-default;

// Viewports
// ---------------------------------

$vp-768: 768px;
$vp-1200: 1200px;

// Retina
// ---------------------------------

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
